 /*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28 feb 2023, 05:09:37
    Author     : jcbru
*/

#marca {
    color: whitesmoke;
    font-family: 'Sofia', sans-serif, cursive;
}

ul {
    color: black;
}

button {
    color: black;
}

.dropend >  .dropdown-menu {
    display: block;
}
.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu {
    display: block;
    background-color: whitesmoke;
}

@media screen and (min-width:796px) {
    .dropend:hover > .dropdown-menu {

        position: absolute;
        top: 0;
        left: 100%;
        margin-left: .125em;
    }
}

@media screen and (max-width:576px) {
    .dropend::before {
        transform: rotate(90deg);
    }
}
