<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/html.xhtml">

            <ui:define name="content">
                <h5>Filtro recursivo</h5>
                <h:form id="recursiveForm">
                    <div class="form-group  mb-3">
                        <label for="levelBrightness">
                            Brillo: <h:panelGroup id="brightNumber">#{recursive.brightness}</h:panelGroup>%
                        </label>
                        <h:inputText id="levelBrightness" class="form-control-range" value="#{recursive.brightness}" immediate="true" >
                            <f:passThroughAttribute name="type" value="range" />
                            <f:passThroughAttribute name="min" value="10" />
                            <f:passThroughAttribute name="max" value="50" />
                            <f:passThroughAttribute name="step" value="10" />
                            <f:ajax render="brightNumber" />
                        </h:inputText>
                    </div>
                    <div class="form-group  mb-3">
                        <label for="levelSize">
                            Reducción: <h:panelGroup id="sizeNumber">#{recursive.size}</h:panelGroup>%
                        </label>
                        <h:inputText id="levelSize" class="form-control-range" value="#{recursive.size}" immediate="true" >
                            <f:passThroughAttribute name="type" value="range" />
                            <f:passThroughAttribute name="min" value="1" />
                            <f:passThroughAttribute name="max" value="10" />
                            <f:passThroughAttribute name="step" value="1" />
                            <f:ajax render="sizeNumber" />
                        </h:inputText>
                    </div>
                    <div class="form-check border bg-white">
                        <h:selectBooleanCheckbox value="#{recursive.sg}" immediate="true" />
                        <label class="form-check-label text-danger" for="defaultCheck1">
                            Escala de grises
                        </label>
                    </div>
                    <h:commandLink class="btn btn-primary btn-sm mt-3"
                                   value="Aplicar filtro" action="#{recursive.aplicar()}" >
                        <f:ajax execute="recursiveForm" render="image" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-light btn-sm mt-3"
                                   value="Hacer permanente" action="#{editor.apply()}" >
                        <f:ajax execute="recursiveForm" render="image" />
                    </h:commandLink> 
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
