<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="MobileOptimized" content="width" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
        <link rel="Stylesheet" type="text/css" href="#{request.contextPath}/faces/resources/css/bootstrap.min.css" />
        <title>Proceso Digital de imágenes</title>
    </h:head>

    <h:body>

        <a class="navbar-brand me-auto mb-2 mb-lg-0" 
           id="marca"
           href="#{request.contextPath}/faces/index.xhtml">
            Proceso Digital de Imágenes
        </a>
    </h:body>

</html>
