<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"/>
        <link rel="Stylesheet" type="text/css" href="#{request.contextPath}/faces/resources/css/style.css" />
        <title>Navigation Bar</title>
    </h:head>

    <h:body>

        <div class="collapse navbar-collapse" id="navbar-navs">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle btn-group" 
                       href="#" id="navbarDropdownMenuLink" 
                       role="button" data-toggle="dropdown" 
                       aria-haspopup="true" aria-expanded="false">
                        Filtros básicos
                    </a>

                    <div>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <ui:include src="practica1.xhtml" />

                            <li><hr class="dropdown-divider" /></li>

                            <ui:include src="practica2.xhtml" />

                        </ul>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle btn-group" 
                       href="#" id="navbarDropdownMenuLink" 
                       role="button" data-toggle="dropdown" 
                       aria-haspopup="true" aria-expanded="false">
                        Filtros intermedios
                    </a>

                    <div>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ui:include src="practica3.xhtml" />
                            <li><hr class="dropdown-divider" /></li>
                        </ul>
                    </div>
                </li>
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle btn-group" 
                       href="#" id="navbarDropdownMenuLink" 
                       role="button" data-toggle="dropdown" 
                       aria-haspopup="true" aria-expanded="false">
                        Filtros avanzados
                    </a>

                    <div>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ui:include src="practica5.xhtml" />
                            <li><hr class="dropdown-divider" /></li>
                            <ui:include src="practica6.xhtml" />
                            <li><hr class="dropdown-divider" /></li>
                            <ui:include src="practica7.xhtml" />
                            <li><hr class="dropdown-divider" /></li>
                            <ui:include src="practica9.xhtml" />
                        </ul>
                    </div>
                </li>
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle btn-group" 
                       href="#" id="navbarDropdownMenuLink" 
                       role="button" data-toggle="dropdown" 
                       aria-haspopup="true" aria-expanded="false">
                        Proyecto
                    </a>

                    <div>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ui:include src="proyecto.xhtml" />
                        </ul>
                    </div>
                </li>                
            </ul>

        </div>

    </h:body>

</html>
