<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="MobileOptimized" content="width" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
        <link rel="Stylesheet" type="text/css" href="#{request.contextPath}/faces/resources/css/bootstrap.min.css" />
        <title>Proceso Digital de imagenes</title>
    </h:head>

    <h:body class="bg-light" >

        <ui:include src="nav.xhtml" />
        
        <div id="content" class="container">
            <div class="row my-5">
                <h:panelGroup id="sidebar" class="col-md-4" layout="block">
                    <div class="bg-light border border-primary rounded-sm">
                        <div class="bg-info text-white px-3 py-1">
                            <h3>Filtros</h3>
                        </div>
                        <div class="p-3">
                            <ui:insert name="welcome"/>
                            <c:choose>
                                <c:when test="#{empty editor.foto}">
                                    <p>¡Comienza subiendo una imagen!</p>
                                    
                                    <ui:include src="uploadForm.xhtml" />
                                </c:when>
                                <c:otherwise>
                                    <ui:insert name="content"/>
                                </c:otherwise>
                            </c:choose>
                            <h:panelGroup layout="block" rendered="#{not empty editor.foto}">
                                <hr />
                                <h:form id="fixed">
                                    <h:commandLink action="#{editor.reset()}"
                                                   class="btn-info btn-sm"
                                                   title="Vuelve al último cambio permanente">
                                        Deshacer cambios 
                                        <f:ajax execute="fixed" render="image" />
                                    </h:commandLink>
                                    <h:commandLink action="#{editor.delete()}"
                                                   class="btn-danger btn-sm ">
                                        Eliminar imagen
                                        <f:ajax execute="fixed" render="image sidebar" />
                                    </h:commandLink>
                                </h:form>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:panelGroup>
                <div class="col-md-8 border border-info rounded-sm" >
                    <h:graphicImage id="image"
                                    value="#{not empty editor.foto ? editor.foto : '/faces/resources/img/unsplash.jpg'}" 
                                    class="d-block mx-auto border border-light img-fluid"  />
                </div>
            </div>

        </div>
        <script src="#{request.contextPath}/faces/resources/js/jquery.min.js" />
        <script src="#{request.contextPath}/faces/resources/js/bootstrap.min.js" />
        <script src="#{request.contextPath}/faces/resources/js/script.js" />
        
    </h:body>
</html>
