<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"/>
        <link rel="Stylesheet" type="text/css" href="#{request.contextPath}/faces/resources/css/style.css" />
        <link rel="Stylesheet" type="text/css" href="#{request.contextPath}/faces/resources/css/style.css" />
        <title>Navigation Bar</title>
    </h:head>

    <h:body>
        <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-info">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                        data-target="#navbar-navs" aria-controls="navbar-navs" 
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <ui:include src="dropDowns.xhtml"/>


                <!-- <ui:include src="brand.xhtml" /> -->
                <a class="navbar-brand me-auto mb-2 mb-lg-0" 
                   id="marca"
                   href="#{request.contextPath}/faces/index.xhtml">
                    Proceso digital de imágenes
                </a>
            </div>
        </nav>
    </h:body>
</html>

