<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>

        <link rel="Stylesheet" type="text/css" href="#{request.contextPath}/faces/resources/css/style.css" />
        <link rel="Stylesheet" type="text/css" href="#{request.contextPath}/faces/resources/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"/>
        <title>Navigation Bar</title>
    </h:head>

    <h:body>

        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info">
            <div class="container">

                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarToggleExternalContent" 
                        aria-controls="navbarToggleExternalContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle btn-group" 
                               href="#" id="navbarDropdownMenuLink" 
                               role="button" data-toggle="dropdown" 
                               aria-haspopup="true" aria-expanded="false">
                                Prácticas
                            </a>

                            <div>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <li class="nav-item dropend">
                                        <a class="nav-link dropdown-toggle" 
                                           href="#" id="navbarDropdown" 
                                           role="button" data-bs-toggle="dropdown" 
                                           aria-expanded="false">
                                            Práctica 1
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/mosaic.xhtml">Mosaico</a>                                        
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/rgb.xhtml">RGB</a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/brightness.xhtml">Brillo</a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/GrayScaleRed.xhtml">Escala de gris rojo</a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/GrayScaleBlue.xhtml">Escala de gris Azul</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/GrayScaleGreen.xhtml">Escala de gris Verde</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><hr class="dropdown-divider" /></li>
                                    <li class="nav-item dropend">
                                        <a class="nav-link dropdown-toggle" 
                                           href="#" id="navbarDropdown" 
                                           role="button" data-bs-toggle="dropdown" 
                                           aria-expanded="false">
                                            Práctica 2
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/findEdges.xhtml">Find Edges</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/blur.xhtml">Blur</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/motionBlur.xhtml">MotionBlur</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/sharpen.xhtml">Sharpen</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/emboss.xhtml">Emboss</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/mosaic.xhtml">Mosaico</a>                                        
                        </li>
                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/rgb.xhtml">RGB</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/brightness.xhtml">Brillo</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/GrayScaleRed.xhtml">Escala de gris rojo</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/GrayScaleBlue.xhtml">Escala de gris Azul</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/GrayScaleGreen.xhtml">Escala de gris Verde</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/blur.xhtml">Blur</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/motionBlur.xhtml">MotionBlur</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/sharpen.xhtml">Sharpen</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#{request.contextPath}/faces/filters/basic/emboss.xhtml">Emboss</a>
                        </li>
                    </ul>
                </div>


                <ui:include src="brand.xhtml" />
            </div>
        </nav>

    </h:body>
</html>

