<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/html.xhtml">

            <ui:define name="content">
                <h5>Alto contraste</h5>
                <h:form id="altoContrasteForm">
                    <div class="form-group  mb-3">
                        <label for="level">
                            Nivel <h:panelGroup id="levelNumber">#{altoContraste.level}%</h:panelGroup>
                        </label>
                        <h:inputText id="level" class="form-control-range" value="#{altoContraste.level}" immediate="true" >
                            <f:passThroughAttribute name="type" value="range" />
                            <f:passThroughAttribute name="min" value="-100" />
                            <f:passThroughAttribute name="max" value="100" />
                            <f:passThroughAttribute name="step" value="10" />
                            <f:ajax render="levelNumber" />
                        </h:inputText>
                    </div>
                    <div class="form-check border bg-white">
                        <h:selectBooleanCheckbox value="#{altoContraste.hc}" immediate="true" />
                        <label class="form-check-label text-danger" for="defaultCheck1">
                            Alto Contraste
                        </label>
                    </div>
                    <h:commandLink class="btn btn-primary btn-sm mt-3"
                                   value="Aplicar filtro" action="#{altoContraste.aplicar()}" >
                        <f:ajax execute="altoContrasteForm" render="image" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-warning btn-sm mt-3" 
                                   value="Hacer permanente" action="#{editor.apply()}" >
                        <f:ajax execute="altoContrasteForm" render="image" />
                    </h:commandLink>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
