<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/html.xhtml">

            <ui:define name="content">
                <h5>Inverso</h5>
                <h:form id="inverseForm">
                    <h:commandLink class="btn btn-primary btn-sm mt-3"
                                   value="Aplicar filtro" action="#{inverso.aplicar()}" >
                        <f:ajax execute="inversoForm" render="image" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-warning btn-sm mt-3" 
                                   value="Hacer permanente" action="#{editor.apply()}" >
                        <f:ajax execute="inversoForm" render="image" />
                    </h:commandLink>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
