<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/html.xhtml">

            <ui:define name="content">
                <h5>Mosaico</h5>
                <h:form id="mosaicForm">
                    <div class="form-group">
                        <label for="level">
                            Level: <h:panelGroup id="levelNumber">#{mosaic.t}</h:panelGroup>
                        </label>
                        <h:inputText id="level" class="form-control-range" value="#{mosaic.t}" immediate="true" >
                            <f:passThroughAttribute name="type" value="range" />
                            <f:passThroughAttribute name="min" value="0" />
                            <f:passThroughAttribute name="max" value="100" />
                            <f:passThroughAttribute name="step" value="5" />
                            <f:ajax render="levelNumber" />
                        </h:inputText>
                    </div>
                    <h:commandLink class="btn btn-primary btn-sm mt-3"
                        value="Aplicar filtro" action="#{mosaic.aplicar()}" >
                        <f:ajax execute="mosaicForm" render="image" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-warning btn-sm mt-3"
                                   value="Hacer permanente" action="#{editor.apply()}" >
                        <f:ajax execute="mosaicForm" render="image" />
                    </h:commandLink>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
