<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/html.xhtml">

            <ui:define name="content">
                <h5>Filtro de cartas</h5>
                <h:form id="CardsForm">
                    <div class="form-group">
                        <h:selectBooleanCheckbox class="custom-checkbox" id="sg" value="#{cards.sg}" />
                        <label class="form-check-label mr-2" for="sg">
                            Tonos de grises 
                        </label>
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="size">Tamaño de letra</h:outputLabel>
                        <h:inputText id="size" value="#{cards.size}" class="form-control mb-2" 
                                     readonly="true"  />
                        <h:commandLink class="btn btn-secondary btn-sm mr-1"
                                       value="+" action="#{cards.sizeUp()}" >
                            <f:ajax execute="CardsForm" render="size" />
                        </h:commandLink>
                        <h:commandLink class="btn btn-secondary btn-sm"
                                       value="-" action="#{cards.sizeDown()}" >
                            <f:ajax execute="CardsForm" render="size" />
                        </h:commandLink>
                    </div>
                    <h:commandLink class="btn btn-primary btn-sm mt-3"
                        value="Aplicar filtro" action="#{cards.aplicar()}" >
                        <f:ajax execute="CardsForm" render="image" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-light btn-sm mt-3"
                                   value="Hacer permanente" action="#{editor.apply()}" >
                        <f:ajax execute="CardsForm" render="image" />
                    </h:commandLink>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
