<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/html.xhtml">

            <ui:define name="content">
                <h5>Filtro domino negro</h5>
                <h:form id="dominoForm">
                    <div class="form-group">
                        <h6>Variante de fuente</h6>
                        <h:selectOneRadio value="#{domino.color}" >
                            <f:selectItem itemValue="W" itemLabel="Blanco" /> 
                            <f:selectItem itemValue="B" itemLabel="Negro" />
                        </h:selectOneRadio>
                    </div>
                    <div class="form-group">
                        <h6>Dirección</h6>
                        <h:selectOneRadio value="#{domino.izqDer}" >
                            <f:selectItem itemValue="I" itemLabel="Izquierda" /> 
                            <f:selectItem itemValue="D" itemLabel="Derecha" />
                        </h:selectOneRadio>
                    </div>
                    <div class="form-group">
                        <h:selectBooleanCheckbox class="custom-checkbox" id="sg" value="#{domino.sg}" />
                        <label class="form-check-label mr-2" for="sg">
                            Escala de grises 
                        </label>
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="size">Tamaño de letra</h:outputLabel>
                        <h:inputText id="size" value="#{domino.size}" class="form-control mb-2" 
                                     readonly="true" />
                        <h:commandLink class="btn btn-secondary btn-sm mr-1"
                                       value="+" action="#{domino.sizeUp()}" >
                            <f:ajax execute="dominoForm" render="size" />
                        </h:commandLink>
                        <h:commandLink class="btn btn-secondary btn-sm"
                                       value="-" action="#{domino.sizeDown()}" >
                            <f:ajax execute="dominoForm" render="size" />
                        </h:commandLink>
                    </div>
                    <h:commandLink class="btn btn-primary btn-sm mt-3"
                        value="Aplicar filtro" action="#{domino.aplicar()}" >
                        <f:ajax execute="dominoForm" render="image" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-light btn-sm mt-3"
                                   value="Hacer permanente" action="#{editor.apply()}" >
                        <f:ajax execute="dominoForm" render="image" />
                    </h:commandLink>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
