<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/html.xhtml">

<ui:define name="content">
                <h5>Filtro de letras</h5>
                Aquí puedes adjuntar un archivo de texto con los símbolos que quieras
                <h:messages class="alert alert-danger" id="error" />
                <h:form id="fileForm" enctype="multipart/form-data" >
                    <c:choose>
                        <c:when test="#{empty letters.fileName}">
                            <h:panelGroup id="fileBlock" class="form-group" layout="block" >
                                <div class="custom-file text-truncate">
                                    <h:outputLabel for="file" class="custom-file-label">
                                        Seleccionar archivo .txt
                                    </h:outputLabel>
                                    <h:inputFile id="file" class="custom-file-input" value="#{letters.file}" 
                                                 required="true"
                                                requiredMessage="No has seleccionado ningún archivo" > 
                                       <f:passThroughAttribute name="accept" value=".txt" />
                                    </h:inputFile>
                                </div>
                                <h:commandLink class="btn btn-secondary btn-sm mr-1 mt-2"
                                               value="Subir archivo" action="#{letters.uploadFile()}" >
                                    <f:ajax execute="fileForm" render="fileForm lettersForm error" />
                                </h:commandLink>
                            </h:panelGroup>
                        </c:when>
                        <c:otherwise>
                            <div class="bg-white text-secondary text-truncate p-2 mb-3 border">
                                <h:graphicImage value="/faces/resources/img/file.png" alt="file"
                                            width="25px"/>
                                    #{letters.fileName}
                            </div>
                        </c:otherwise>
                    </c:choose>
                </h:form>
                <h:form id="lettersForm">
                    <div class="form-group">
                        <h:outputLabel id="ltexto" for="texto">
                            Texto disponible 
                            <h:panelGroup id="td" class="small">
                                #{letters.text}
                            </h:panelGroup>
                        </h:outputLabel>
                        <h:inputText id="texto" value="#{letters.text}" class="form-control mb-3" />
                        <h:selectBooleanCheckbox class="custom-checkbox" id="sg" value="#{letters.sg}" />
                        <label class="form-check-label mr-2" for="sg">
                            Escala de grises
                        </label>
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="size">Tamaño de letra</h:outputLabel>
                        <h:inputText id="size" value="#{letters.size}" class="form-control mb-2" 
                                     readonly="true"  />
                        <h:commandLink class="btn btn-secondary btn-sm mr-1"
                                       value="+" action="#{letters.sizeUp()}" >
                            <f:ajax execute="lettersForm" render="size error" />
                        </h:commandLink>
                        <h:commandLink class="btn btn-secondary btn-sm"
                                       value="-" action="#{letters.sizeDown()}" >
                            <f:ajax execute="lettersForm" render="size error" />
                        </h:commandLink>
                    </div>
                    <h:commandLink class="btn btn-primary btn-sm mt-3"
                        value="Aplicar filtro" action="#{letters.aplicar()}" >
                        <f:ajax execute="lettersForm" render="image texto error" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-light btn-sm mt-3"
                                   value="Hacer permanente" action="#{editor.apply()}" >
                        <f:ajax execute="lettersForm" render="image" />
                    </h:commandLink>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
