<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/html.xhtml">

            <ui:define name="content">
                <h5>Fotomosaico</h5>
                <h:form id="photoMosaicForm">
                    <div class="form-group">
                        <label for="level">
                            Size:
                            <h:panelGroup id="levelNumber">
                                #{photomosaic.size}px X #{photomosaic.size}px
                                <small class="text-danger"><br/>
                                    <strong>¡Entre más pequeña sea la imagen más lento será el proceso!</strong></small>
                            </h:panelGroup>
                        </label>
                        <h:inputText id="level" class="form-control-range" value="#{photomosaic.size}" immediate="true" >
                            <f:passThroughAttribute name="type" value="range" />
                            <f:passThroughAttribute name="min" value="1" />
                            <f:passThroughAttribute name="max" value="20" />
                            <f:passThroughAttribute name="step" value="1" />
                            <f:ajax render="levelNumber" />
                        </h:inputText>
                    </div>
                    <div class="form-group">
                        <label for="level">
                            Opacidad: <h:panelGroup id="levelBlend">-#{photomosaic.blend}%</h:panelGroup>
                        </label>
                        <h:inputText id="Blend" class="form-control-range" value="#{photomosaic.blend}" immediate="true" >
                            <f:passThroughAttribute name="type" value="range" />
                            <f:passThroughAttribute name="min" value="0" />
                            <f:passThroughAttribute name="max" value="100" />
                            <f:passThroughAttribute name="step" value="5" />
                            <f:ajax render="levelBlend" />
                        </h:inputText>
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="scaleSelect">
                            Escala de salida <small class="text-danger"><br/>
                                <strong>¡Advertencia: Imagen de grandes dimensiones!</strong></small>
                        </h:outputLabel>
                        <h:selectOneMenu value="#{photomosaic.scale}"  id="scaleSelect" class="custom-select">
                            <f:selectItem itemValue = "1" itemLabel = "1x" />
                            <f:selectItem itemValue = "2" itemLabel = "4x" />
                            <f:selectItem itemValue = "3" itemLabel = "9x" />
                            <f:selectItem itemValue = "4" itemLabel = "16x" />
                            <f:selectItem itemValue = "5" itemLabel = "25x" />
                            <f:selectItem itemValue = "10" itemLabel = "100x" />
                            <f:selectItem itemValue = "15" itemLabel = "225x" />
                            <f:selectItem itemValue = "20" itemLabel = "400x" />
                            <f:selectItem itemValue = "30" itemLabel = "900x" />
                            <f:selectItem itemValue = "40" itemLabel = "1600x" />
                            <f:selectItem itemValue = "50" itemLabel = "2500x" />
                        </h:selectOneMenu>
                    </div>
                    <h:commandLink class="btn btn-primary btn-sm mt-3"
                                   value="Aplicar filtro" action="#{photomosaic.aplicar()}" >
                    </h:commandLink>
                    <h:commandLink class="btn btn-light btn-sm mt-3"
                                   value="Hacer permanente" action="#{editor.apply()}" >
                        <f:ajax execute="photoMosaicForm" render="image" />
                    </h:commandLink> 
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
